<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Index</title>
</head>
    <body>
        <div class="row">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregar">
                Agregar
            </button>
        </div>
        <!--Agregar-->
        <div class="modal fade" id="agregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form action="{% url 'agregar' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="modelo" class="form-label">Modelo</label>
                                <input type="text" class="form-control" id="modelo" name="modelo">
                            </div>

                            <div class="mb-3">
                                <label for="sistema" class="form-label">Sistema</label>
                                <select class="form-select form-select-lg" id="sistema" name="sistema">
                                    {% for sistema in sistemas %}
                                        <option value="{{sistema.id}}">{{sistema.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>  
        </div>

        <!--Editar-->
    {% for smartphone in smartphones %}    
        <div class="modal fade" id="editar-{{foorloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form action="{% url 'editar' smartphone.id %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Editar #id {{smartphone.id}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="modelo" class="form-label">Modelo</label>
                                <input type="text" class="form-control" id="modelo" name="modelo" value="{{smartphone.modelo}}">
                            </div>
                            
                            <div class="mb-3">
                                <label for="sistema" class="form-label">Sistema</label>
                                <select class="form-select form-select-lg" id="sistema" name="sistema">
                                    {% for sistema in sistemas %}
                                        {% if sistema.id == smartphone.sistema.id %}
                                            <option value="{{sistema.id}}" selected>{{sistema.nombre}}</option>
                                        {% else %}
                                            <option value="{{sistema.id}}">{{sistema.nombre}}</option>
                                        {% endif %}
                                    {% endfor %}    
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Editar</button>
                        </div>
                    </div>
                </form>
            </div>  
        </div>
        
        <!--Eliminar-->
        <div class="modal fade" id="eliminar-{{foorloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{% url 'eliminar' smartphone.id %}" method="POST">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Eliminar #id {{smartphone.id}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro que deseas eliminar el smartphone {{smartphone.modelo}} del sistema?
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}    
        <!--TABLA-->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#Id</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Sistema</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for smartphone in smartphones %}
                <tr>
                    <th scope="row">{{smartphone.id}}</th>
                    <td>{{smartphone.modelo}}</td>
                    <td>{{smartphone.sistema.nombre}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editar-{{foorloop.counter}}">
                            Editar
                        </button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#eliminar-{{foorloop.counter}}">
                            Eliminar
                        </button>     
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    </body>

</html>